<header>
  <img src="../static/assets/logo.svg" alt="Logo da NLW" />
  <nav>
   <a href="/grupos"><button type="submit">grupos</button></a>
   <a href="/"><button type="submit">datas</button></a>
  </nav>
</header>
