/*Shared Settings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card_title_border_color: #746615;
  --card_color_primary: #f7dd43;
  --card_bg_color: #1d1c19;
  --bg_img: url(./assets/bg-yellow.svg);
}

body.green {
  --card_title_border_color: #047c3f;
  --card_color_primary: #047c3f;
  --card_bg_color: #1a1f1b;
  --bg_img: url(./assets/bg-green.svg);
}

body.blue {
  --card_title_border_color: #338af3;
  --card_color_primary: #338af3;
  --card_bg_color: #202024;
  --bg_img: url(./assets/bg-blue.svg);
}

body {
  background-color: #121214;
  background-image: var(--bg_img);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

body * {
  font-family: "Roboto", sans-serif;
}

#trophy {
  margin-top: 35px;
  height: 200px;
  width: 200px;
}

#logo-nlw{
  height: 100px;
  width: 100px;
}

#app,
#appGroup {
  width: fit-content;
  margin: auto;
  padding-top: 10px;
  /* border: 1px solid red; */
}

.card,
.goups,
table {
  padding: 32px 23px;
  text-align: center;
  background: #1d1c19;
  border-bottom: 2px solid var(--card_color_primary);
  border-radius: 6px;
}

.card h2,
.card ul li strong,
.card ul li img,
.tableGroup,
.tableScout {
  transition: transform 0.3s;
}

.card,
.tableGroup,
.tableScout {
  animation: appear 0.2s;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#cards,
#groups {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.icon {
  height: 30px;
  width: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 25px;
}

#timer {
  /* border: 1px groove var(--card_title_border_color); */
  padding: 10px;
  color: var(--card_color_primary);
  font-size: large;
  box-shadow: -5px -10px 30px #e1e1e6, 6px 9px 15px var(--card_color_primary);
  width: fit-content;
  border-radius: 30px;
}

.div-footer{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  gap: 1rem;
}

.ul-footer{
  list-style: none;
  font-style: italic;
  text-align: center;
}

.ul-footer:first-child{
  color: #e1e1e6;
}


a:visited, a:link ,li a:visited{
  color: #e1e1e6;
}

.ul-footer li a:hover{
background-color: var(--card_title_border_color);
}
/*...........................................Tables Page*......................................*/

table {
  width: 315px;
  text-align: center;
}

header {
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

td {
  display: table-cell;
  vertical-align: middle;
}
/*-----------------Group Table--------------*/

.theadGroup,
.buttonScout,
.buttonGroup {
  cursor: pointer;
  background-image: url("./assets/icon-button.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.tableGroup .tbodyGroup .td-tbody-Group + .td-tbody-Group,
.td-tbody-Group:first-child {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #323238;
}
/*-----------------Scout Table--------------*/
.td-thead-scout {
  font-size: x-small;
}

.scoutCountry {
  height: 40px;
  width: 40px;
}

.tableScout {
  display: none;
  border-spacing: 0;
}

.theadScout > tr > th {
  /* padding: 20px 30px 20px 30px; */
  border: none;
  height: 30px;
  width: 30px;
}

.tbodyScout tr:nth-child(n+1):nth-child(-n+2){
  background-color: var(--card_color_primary);
  font-weight: bold;
  color: var(--card_bg_color);
}

.tableScout td {
  height: 60px;
  width: 30px;
  font-size: small;
}

.tableScout .tr-tbody-scout td {
  border-top: 1px solid #323238;
}

.tr-tbody-scout th {
  padding: 5px;
}

/*.................................................Calendar Page..................................*/
.card h2 span,
table {
  color: #e1e1e6;
  text-transform: uppercase;
}

.card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ul li + li {
  /*se aplica ao <li> antreior a algum <li> existente*/
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li #details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card ul li strong {
  font-weight: 900;
  font-size: 20px;
  line-height: 125%;
  color: #e1e1e6;
  text-transform: uppercase;
}

.card ul li strong:first-child {
  border-bottom: 1px solid var(--card_title_border_color);
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}
.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid var(--card_title_border_color);
  border-radius: 6px;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 13px;
  color: #f7dd43;
}

.info-country {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  gap: 0.5rem;
}

.name-country {
  display: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--card_title_border_color);
  font-size: 10px;
}

#get_theme {
  display: none;
  position: absolute;
  width: fit-content;
  padding: 5px 16px;
  align-content: center;
  z-index: 1;
}

#dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

#arrow {
  height: 20px;
  width: auto;
  animation: pulse 1s infinite ease-in-out alternate;
}

#drop-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #e1e1e6;
  text-transform: uppercase;
  font-size: small;
  line-height: 0;
  gap: 0.5rem;
  width: 147px;
}

.container {
  display: block;
  position: relative;
  padding-left: 2.4rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 20px; /* background-color: #eee; */
}

#span_yellow {
  background-color: #746615;
}
#span_blue {
  background-color: #338af3;
}
#span_green {
  background-color: #047c3f;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*.......................................Responsiveness...................................*/
@media (min-width: 700px) {
  #cards,
  #groups {
    max-width: 1010px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/*...............................................Button......................................*/
button {
  border: 1px outset var(--card_color_primary);
  text-align: center;
  background-color: var(--card_bg_color);
  border-radius: 6px;
  color: #e1e1e6;
  text-transform: uppercase;
  width: 120px;
  cursor: pointer;
}

.buttonScout,
.buttonGroup {
  width: 269px;
  height: 50px;
  border-bottom: 5px outset var(--card_color_primary);
  border-left: 5px outset var(--card_color_primary);
}

.icon-button {
  height: 40px;
  width: 50px;
}

#button-theme {
  border: none;
  background: none;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  gap: 0.5rem;
}

@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}

/*............................Toggle Switch.......................*/
