<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
  <body>
    <div id="app">
      <%- include('../partials/header'); %>
      <main id="cards"></main>
    </div>
    <script src="../static/main.js"></script>
  </body>
</html>
